<div class="col-md-12">
  <div class="card card-container">
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="userData.username"
          required
          #username="ngModel"
        />
        <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Username is required!</div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="userData.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required!</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="userData.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Password is required!</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="firstName">First name</label>
        <input
          id="firstName"
          type="text"
          class="form-control"
          name="firstName"
          [(ngModel)]="userData.first_name"
          required
          #firstName="ngModel"
        />
        <div class="alert alert-danger" role="alert" *ngIf="firstName.errors && f.submitted">
          <div *ngIf="firstName.errors['required']">First name is required!</div>
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last name</label>
        <input
          id="lastName"
          type="text"
          class="form-control"
          name="lastName"
          [(ngModel)]="userData.last_name"
          required
          #lastName="ngModel"
        />
        <div class="alert alert-danger" role="alert" *ngIf="lastName.errors && f.submitted">
          <div *ngIf="lastName.errors['required']">Last name is required!</div>
        </div>
      </div>

      <div class="form-group">
        <label for="dob">Date of birth</label>
        <div id="dob" class="form-group">
          <input matInput [(ngModel)]="userData.age" [matDatepicker]="datePicker" placeholder="1990-01-01" name="dob"
                 required #dob="ngModel"/>
          <mat-datepicker-toggle [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker disabled="false" [startAt]="startDate"></mat-datepicker>
        </div>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="dob.errors && f.submitted">
        <div *ngIf="dob.errors['required']">Date of birth is required!</div>
      </div>


      <div class="form-group">
        <label for="location" size="60%">Location</label>
        <div id="location">
          <input
            type="text"
            class="map-searchbox"
            (keydown.enter)="$event.preventDefault()"
            placeholder="Search Location"
            type="text"
            #search
          />

          <google-map
            #googleMap
            height="500px"
            width="100%"
            [zoom]="zoom"
            [center]="coords"
            [options]="options">
            <map-marker
              *ngIf="showMarker"
              [position]="this.coords"></map-marker>
          </google-map>
        </div>
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="(userData.city === null || userData.city === undefined) && f.submitted">
        <div *ngIf="(userData.city === null || userData.city === undefined) && f.submitted">Selecting your location is
          required
        </div>
      </div>

      <label for="avatar">Select profile avatar (optional)</label>
      <div id="avatar" class="form-group">
        <input type="file" class="file-upload"
               (change)="handleFileInput($event)">
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br/>{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
