<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">SuperAppka</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="tokenStorageService.getIsLoggedIn()">
        <a href="/events" class="nav-link">Browse events</a>
      </li>
      <li class="nav-item" *ngIf="tokenStorageService.getIsLoggedIn()">
        <a href="/add-event" class="nav-link">Add event</a>
      </li>
      <li class="nav-item" *ngIf="tokenStorageService.getIsLoggedIn()">
        <a href="/my-events" class="nav-link">My events</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!tokenStorageService.getIsLoggedIn()">
      <li class="nav-item">
        <a href="/register" class="nav-link">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link">Login</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="tokenStorageService.getIsLoggedIn()">
      <li class="nav-item">
        <a [routerLink]="['profile', tokenStorageService.getUserId()]" class="nav-link">Your profile
          ({{tokenStorageService.getUsername()}})</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Log out</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
