.row {
  margin: 20px 0px;
  width: inherit;
}

.rowComment {
  display: inline;
  margin-left: 0px;
  width: 100% !important;
  max-width: 100%;
}

.col {
  width: available;
  padding: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.username {
  margin-top: 30px;
  font-size: 64px;
}

.location-label {
  font-weight: bold;
}

.img {
  width: 100%;
  max-width: 200px;
  float: right;
}
